body {
  background-color: #E5F9DB;
  text-align: center;
  font-family: "Verdana";
  max-width: 800px;
  margin: auto;
}

h1, h3 {
  color: #83764F;
}

img {
  width: 600px;
}

li, h3, p {
  text-align: left;
}

p, li {
  color: #4C4C6D;
  font-size: large;
  line-height: 1.5;
}

.box {
  background-color: #fff;
  padding: 20px;
  margin: 15px;
  border: 2px solid grey;
  border-radius: 25px;
  box-shadow: 5px 10px #888888;
}

img {
  border-radius: 25px;
  box-shadow: 5px 10px #888888;
}